body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    margin-top: 50px;
    background: white;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}